<nav class="nav rounded">
        <div class="container">
            <div class="logo pr-5 absolute mt-2 mr-4">
                <h4 class="text-white" style="font-family: Lucida Handwriting, Courier New, Cursive;">(847) 418 6482 emiranda09@mail.roosevelt.edu</h4>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks"style="font-family: georgia, times ,serif;">
                    <li><%= link_to "Home", root_path,data: { turbo:false } %></li>
                    <li><%= link_to "Portfolio", home_portfolio_path,data: { turbo:false } %></li>
                       <li><%= link_to "Challenges", home_challenges_path,data: { turbo:false } %></li>
                        <li><%= link_to "Contact", home_contact_path,data: { turbo:false } %></li>

                    <li><%= link_to "https://github.com/Elgueromiranda" do  %><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg><% end %></li>
                </ul>
            </div>

            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    
  <div id="particles-js" style="height: 300px;"></div>

        <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
