
    <div style="height: 1400px; background: radial-gradient(ellipse at top, #CACACB, #4F5154)">
<div class="container">

<center><div style="padding-top: 100px; display: flex;  align-items: center;
  justify-content: center;">
<div class="parent" style="
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10%;
grid-row-gap: 10%;
font-family: Times New Roman, Times, serif;

">

<div class="card slide-left" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw; border-bottom: 1px solid red ;" class="card-title text-secondary">Cypher</h5>

    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
        <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/cypher", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>
  </div>
</div>

<div class="card slide-right" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw;border-bottom: 1px solid red ;" class="card-title text-secondary">Dice</h5>
    
    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/dice", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>
  </div>
</div>

<div class="card slide-left" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw;border-bottom: 1px solid red ;" class="card-title text-secondary">Flash</h5>
    
    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
 <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/flash/tree/elias/source", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>  </div>
</div><div class="card slide-right" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw;border-bottom: 1px solid red ;" class="card-title text-secondary">Guessing Game</h5>
    
    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/guessing_game", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>  </div>
</div><div class="card slide-left" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw;border-bottom: 1px solid red ;" class="card-title text-secondary">Rspec</h5>
    
    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>

    <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/rspec/tree/elias/source", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>
  </div>
</div><div class="card slide-right" style="width: 100%; border-left: solid; border-left-color: #3B71CA; border-left-width: 20px; border-left-style: outset;">
  <div class="card-body">
    <h5 style="font-size: 3vw;border-bottom: 1px solid red ;" class="card-title text-secondary">Flash</h5>
    
    <p style="font-size: 1.8vw;" class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>

    <%=link_to "Code to Challenge" , "https://github.com/Elgueromiranda/scratch/tree/elias/source", target:"_blank", class: "btn btn-outline-primary", style: "font-size: 1.5vw" %>  </div>
</div>
</div>

    </div>
</center>
    </div>


    </div>


