 <div class="bg-dark bg-gradient" style="height: 1000px">
  <br>
<center><div class="container bg-none p-5 pt-4" style="text-align: left;font-family: Times New Roman, Times, serif;">
        <h1 class="mt-0 text-center text-white display-1 text-slide-right">Contact</h1>

        <div class="test-slide">
    <hr class="divider" style="color: white;">

    <%= form_for :contact, url: "/api/v1/contacts", method: :post, class:"row g-3 bg-none text-black p-3 mt-5 rounded", id:"form" do |form| %>
        <div class="col mb-3">
        <%= form.label :first_name , class: "col-form-label col-form-label-lg text-white"%>
        <%= form.text_field :first_name , class: "col form-control form-control-lg"%>
      </div>
   <div class="col mb-3">

        <%= form.label :last_name , class: "col-form-label col-form-label-lg text-white"%>
        <%= form.text_field :last_name , class: "col form-control form-control-lg"%>
      </div>
  <div class="mb-3">
        <%= form.label :email , class: "col-form-label col-form-label-lg text-white"%>
        <%= form.email_field :email , class: "form-control form-control-lg"%>
              </div>

  <div class="mb-3">
        <%= form.label :message , class: "col-form-label col-form-label-lg text-white"%>
        <%= form.text_area :message , class: "form-control form-control-lg"%>
              </div>

    <div class="d-grid">

        <%= form.submit "Send Message", class:"btn btn-primary rounded-pill" %>
    </div>
    <% end %>
    </div>

</div></center>


</div>

