<div class="porfolio-grid container position-absolute top-50 start-50 translate-middle" style="margin-top: 700px;">

            <div class="row bg-transparent rounded slide-right pr-1 pl-1" style="margin-bottom: 200px;">
                <div class="col-10 p-3">
                <%=link_to "https://cacahuatespomskies.herokuapp.com/", target: "_blank" do %> 
                <%= image_tag("lakeinthehills", height: "300", width: "80%" , class: "images")%>
                    <% end %>
                <h1 class="text-white projects" style="font-size: 3vw;width: 70%;font-family: Times New Roman, Times, serif;">SPA with React, EmailJs with Rails backend, PostgreSQL , Tailwind CSS</h1> 
                    </div>
                <div class="col-1">
                    <%=link_to "Live Site","https://cacahuatespomskies.herokuapp.com/" ,class:"btn btn-primary mb-5"%>       
                    <%= link_to "Github", "https://github.com/Elgueromiranda/cacahuatespomskies/tree/elias/app/javascript/components", class:"btn btn-primary", target:"_blank" %>
                    </div>   
 
     </div>
    <div class="row bg-transparent rounded slide-left pr-1 pl-1" style="margin-bottom: 200px;"> 
        <div class="col-10 p-3">
            <%=link_to "https://wifispeedapp.herokuapp.com", target: "_blank" do %> 
            <%= image_tag("wifi", height: "300", width: "80%" , class: "images")%>
            <% end %>
            <h1 class="text-white projects" style="font-size: 3vw;width: 70%;font-family: Times New Roman, Times, serif;">
                Javascript API with Rails backend using fetch ,PostgreSQL,
                SPA, Tailwind CSS
                </h1>
        </div>

        <div class="col-1">
             
        <%=link_to "Live Site","https://wifispeedapp.herokuapp.com", class: "btn btn-primary mb-5" ,target:"_blank"%>
     <%= link_to "Github", "https://github.com/Elgueromiranda/wifiapp/tree/elias/app/javascript/components", class:"btn btn-primary" , target:"_blank"%>
                        

        </div>
  
</div>


<div class="row bg-transparent rounded slide-left pr-1 pl-1"> 

    <div class="col-10 p-3">
        <%=link_to "https://friendapp.herokuapp.com", target: "_blank" do %> 
        <%= image_tag("friends", height: "300", width: "80%" , class: "images")%>
        <% end %>
        <h1 class="text-white projects" style="font-size: 3vw;width: 70%;font-family: Times New Roman, Times, serif;">Ruby on Rails, User Authentication, PostgreSQL, CRUD app
        </h1>
    </div>

        <div class="col-1"> 

        <%=link_to "Live Site","https://friendapp.herokuapp.com", class:"btn btn-primary mb-5"%>


        <%= link_to "Github", "https://github.com/Elgueromiranda/friends-app/tree/elias/app/views",class:"btn btn-primary", target:"_blank"  %>
                    
        </div>

    </div>
</div>




<script>

         navbar = document.getElementById("nav");

     particles = document.getElementById("particles-js");
    function yourfunction() { particles.style.height = "1200px"; window.dispatchEvent(new Event('resize'));}

window.onload = yourfunction;

</script>






