
<div class="porfolio-grid container position-absolute top-50 start-50 translate-middle" style="margin-top: 500px;">
    <div class="row bg-transparent rounded slide-left" style="margin-bottom: 250px;"> 
        <div class="col-10 p-3">
            <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">
                Javascript API with Rails backend using fetch ,PostgreSQL implemented search by place and city,
                SPA, Tailwind CSS
                </h1>
        </div>

        <div class="col-1" style="margin-top: 10px;margin-bottom: 10px;">
             
     <%= link_to "Repository", "https://github.com/Elgueromiranda/wifiapp/tree/elias/app/javascript/components", class:"btn btn-primary rounded-pill" , target:"_blank"%>
                        
        <%=link_to "Live Site","https://wifispeedapp.herokuapp.com", class: "btn btn-primary rounded-pill" ,target:"_blank"%>

        </div>
  
</div>
            <div class="row bg-transparent rounded slide-right" style="margin-bottom: 250px;">
                <div class="col-10 p-3">
                
                <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">SPA with React, EmailJs with Rails backend, PostgreSQL contact list , Tailwind CSS</h1> 
                    </div>
                <div class="col-1" style="margin-top: 10px;margin-bottom: 10px;">
                    <%= link_to "Repository", "https://github.com/Elgueromiranda/cacahuatespomskies/tree/elias/app/javascript/components", class:"btn btn-primary rounded-pill", target:"_blank" %>
                    <%=link_to "Live Site","https://cacahuatespomskies.herokuapp.com/", class:"btn btn-primary rounded-pill"%>        
                    </div>   
 
     </div>


<div class="row bg-transparent rounded slide-left"> 

    <div class="col-10 p-3">
                
        <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">Ruby on Rails, User Authentication, PostgreSQL, CRUD app
        </h1>
    </div>

        <div class="col-1" style="margin-top: 10px;margin-bottom: 10px"> 

        <%=link_to "Live Site","https://friendapp.herokuapp.com", class:"btn btn-primary rounded-pill"%>


        <%= link_to "Repository", "https://github.com/Elgueromiranda/friends-app/tree/elias/app/views",class:"btn btn-primary rounded-pill", target:"_blank"  %>
                    
        </div>

    </div>
</div>

<script>

         navbar = document.getElementById("nav");

     particles = document.getElementById("particles-js");
    function yourfunction() { particles.style.height = "1500px"; window.dispatchEvent(new Event('resize'));}

window.onload = yourfunction;

</script>






