    <div style="height: 2300px;   background-image: linear-gradient(black, #343a40);
">
            <div class="container" style="padding-top: 50px;">

            <center><div class="col">
     
    	<%=link_to "https://cacahuatespomskies.herokuapp.com/", class:"btn btn-primary rounded-pill", target:"_blank" do %>
        
        Live Site
        <% end %>
           <h4 class="text-white" style="font-family: Times New Roman, Times, serif;">
        Web application for Lake in the Hills Pomskies. Actively develping.</h4>
            </div>
        </center>
            
            <%#description section -----------------------------------------------------------------------%>
                    <div class="row bg-black  rounded mt-3">
                          <div class="col-10 p-3">
                
                <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">SPA with React, EmailJs with Rails backend, PostgreSQL contact list , Tailwind CSS
                      </h1> </div>
                      <div class="col-1" style="margin-top: 10px;margin-bottom: 10px;">
                    <%= link_to "https://github.com/Elgueromiranda/cacahuatespomskies/tree/elias/app/javascript/components", class:"btn btn-primary rounded-pill", target:"_blank" do  %>
                        Repository
                     <% end %>

</div>   
 
     </div>

                <%#end -----------------------------------------------------------------------%>


   
       <center><div class="col mt-5">
        <%=link_to "https://wifispeedapp.herokuapp.com",  class:"btn btn-primary rounded-pill", target:"_blank" do %>
        
        Live Site<% end %>
        </div></center>
            <%#description section -----------------------------------------------------------------------%>

                    <div class="row bg-black rounded mt-4"> 
                      <div class="col-10 p-3">
    <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">
        Javascript API with Rails backend using fetch ,PostgreSQL implemented search by place and city,
        SPA, Tailwind CSS
        </h1>
            </div>

            <div class="col-1" style="margin-top: 10px;margin-bottom: 10px;">
             
     <%= link_to "https://github.com/Elgueromiranda/wifiapp/tree/elias/app/javascript/components", class:"btn btn-primary rounded-pill" , target:"_blank" do  %>
                        Repository

     <% end %>
            </div>
  
                    </div>

                 <%#end -----------------------------------------------------------------------%>


       <center> <div class="col mt-5">   
            <%=link_to "https://friendapp.herokuapp.com", class:"btn btn-primary rounded-pill", target:"_blank" do %>

            
            Live Site
            <% end %>
        </div></center>
        <%#description section -----------------------------------------------------------------------%>

                 <div class="row bg-black rounded mt-4"> 

             <div class="col-10 p-3">
                
                <h1 class="text-white" style="font-family: Times New Roman, Times, serif;">Ruby on Rails, User Authentication, PostgreSQL, CRUD app
            </h1></div>

        <div class="col-1" style="margin-top: 10px;margin-bottom: 10px"> 

<%= link_to "https://github.com/Elgueromiranda/friends-app/tree/elias/app/views", class:"btn btn-primary rounded-pill", target:"_blank" do  %>
                        Repository

<% end %>


  
                </div>

            <%#end -----------------------------------------------------------------------%>

    </div>

    </div>

</div>


<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>


