<div class="body">
<div class="porfolio-grid" style="background: none; padding-top: 100px;">


            <div class="row rounded slide-right pr-1 pl-1" style="margin-bottom: 150px;">
                <div class="info">
                <%=link_to "https://cacahuatespomskies.herokuapp.com/", target: "_blank" do %> 
                <%= image_tag("lakeinthehills.png", size: "800x300", style: "max-width: 100%;" , class: "images")%>
                    <% end %>
            
                    </div>
                    
                    <%= link_to "Github", "https://github.com/Elgueromiranda/cacahuatespomskies/tree/elias/app/javascript/components", class:"btn btn-primary mt-5", target:"_blank" %>


     </div>
    <div class="row rounded slide-left pr-1 pl-1" style="margin-bottom: 150px;"> 
        <div class="info">
            <%=link_to "https://wifispeedapp.herokuapp.com", target: "_blank" do %> 
            <%= image_tag("wifi.png", size: "800x300", style: "max-width: 100%;" , class: "images")%>
            <% end %>
       
        </div>


     
     <%= link_to "Github", "https://github.com/Elgueromiranda/wifiapp/tree/elias/app/javascript/components", class:"btn btn-primary mt-5" , target:"_blank"%>




</div>
 <div class="row rounded slide-left pr-1 pl-1" style="margin-bottom: 150px;"> 
        <div class="info">
        <%=link_to "https://friendapp.herokuapp.com", target: "_blank" do %> 
             <%= image_tag("friends.png", size: "800x300", style: "max-width: 100%;" , class: "images")%>
        <% end %>
       
        </div>


     
  <%= link_to "Github", "https://github.com/Elgueromiranda/friends-app/tree/elias/app/views",class:"btn btn-primary mt-5", target:"_blank" %>



</div>


</div>

</div>

