<div style="position: absolute; top: 200px;  left: 200px;">

                <%=link_to "https://cacahuatespomskies.herokuapp.com/", target: "_blank" do %> 
                <%= image_tag("lakeinthehills", height: "300px", width: "80%" , class: "images")%>
                    <% end %>
             
                    <%=link_to "Live Site","https://cacahuatespomskies.herokuapp.com/" ,class:"btn btn-primary mb-5"%>       
                    <%= link_to "Github", "https://github.com/Elgueromiranda/cacahuatespomskies/tree/elias/app/javascript/components", class:"btn btn-primary", target:"_blank" %>

            <%=link_to "https://wifispeedapp.herokuapp.com", target: "_blank" do %> 
            <%= image_tag("wifi", height: "300px", width: "80%" , class: "images")%>
            <% end %>
         
             
        <%=link_to "Live Site","https://wifispeedapp.herokuapp.com", class: "btn btn-primary mb-5" ,target:"_blank"%>
     <%= link_to "Github", "https://github.com/Elgueromiranda/wifiapp/tree/elias/app/javascript/components", class:"btn btn-primary" , target:"_blank"%>
   
  
        <%=link_to "https://friendapp.herokuapp.com", target: "_blank" do %> 
        <%= image_tag("friends", height: "300px", width: "80%" , class: "images")%>
        <% end %>
      

        <%=link_to "Live Site","https://friendapp.herokuapp.com", class:"btn btn-primary mb-5", target:"_blank" %>


        <%= link_to "Github", "https://github.com/Elgueromiranda/friends-app/tree/elias/app/views",class:"btn btn-primary", target:"_blank"  %>

</div>









<script>

         navbar = document.getElementById("nav");

     particles = document.getElementById("particles-js");
    function yourfunction() { particles.style.height = "1200px"; window.dispatchEvent(new Event('resize'));}

window.onload = yourfunction;

</script>






