<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "navbar", "data-turbo-track": "reload", defer: true %>
        
    <%= javascript_include_tag "particles", "data-turbo-track": "reload", defer: true %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

   
  </head>

  <body>
    <script>
document.getElementById("form").onclick = loseFocus;
function loseFocus() 
{
    document.getElementById("form").blur();
}
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

       <% if notice %>
    <%= render 'layouts/notice' %>
    <% end %>
      <% if alert %>
    <%= render 'layouts/alert' %>
    <% end %>
    <%= render 'home/header'%>


    <%= yield %>
         <script>
             currLoc = $(location).attr('href');

        $(window).scroll(function() {
            if ($(document).scrollTop() > 50 ) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
  </body>
</html>

